<dialog
  id=""
  class="card bg-dark draggable modal-dialog"
  data-bind="attr: {id: getUniqueId() }"
>
  <!-- Can't use 'with: currentDialog' since we need to register our 
      javascript event listeners for grabbing and resizing -->
  <div class="card-header bg-dark grabber">
    <h2 class="card-title" data-bind="text: title"></h2>
    <h2 class="card-title">
      <i class="fa-solid fa-xmark pointer" data-bind="click: clickClose"></i>
    </h2>
  </div>
  <!-- ko if: form -->
  <div class="dimmer" data-bind="css: {'active': form.saving }">
    <span class="loader"></span>
    <ul class="" data-bind="foreach: $root.blockingTasks">
      <li data-bind="text: msg + '...'"></li>
    </ul>
  </div>
  <div
    class="card-body"
    data-bind="component: { name: form.componentName, params: form.params }"
  ></div>
  <!-- /ko -->
  <!-- ko if: url -->
  <div class="card-body">
    <iframe frameborder="0" data-bind="attr: {src: url}"></iframe>
  </div>
  <!-- /ko -->
  <!-- ko if: html -->
  <div class="card-body" data-bind="html: html"></div>
  <!-- /ko -->
  <div class="card-actions">
    <button
      style
      type="button"
      class="btn btn-danger"
      data-bind="click: clickClose"
    >
      Cancel
    </button>
    <!-- ko if: showSubmit -->
    <button
      type="button"
      class="btn btn-success"
      data-bind="click: clickSubmit"
    >
      Ok
    </button>
    <!-- /ko -->
  </div>
</dialog>
